---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="public/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#13151a" />
    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta
      name="description"
      content="Dontá Smith is a web developer specializing in creating innovative web experiences. He is based in Washington, D.C."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.dontasmith.com/" />
    <meta property="og:title" content="Dontá Smith — Developer, Designer" />
    <meta
      property="og:description"
      content="Dontá Smith is a web developer specializing in creating innovative web experiences. He is based in Washington, D.C."
    />
    <meta
      property="og:image"
      content="https://donta.us-iad-1.linodeobjects.com/images/Donta%CC%81-Smith-Developer-Designer-.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.dontasmith.com/" />
    <meta
      property="twitter:title"
      content="Dontá Smith — Developer, Designer"
    />
    <meta
      property="twitter:description"
      content="Dontá Smith is a web developer specializing in creating innovative web experiences. He is based in Washington, D.C."
    />
    <meta
      property="twitter:image"
      content="https://donta.us-iad-1.linodeobjects.com/images/Donta%CC%81-Smith-Developer-Designer-.png"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100..900&display=swap");

  :root {
    --accent: rgb(136, 58, 234);
    --accent-light: rgb(224, 204, 250);
    --accent-dark: rgb(49, 10, 101);
    --primary-font: "Anton", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --accent-gradient: linear-gradient(
      to right,
      var(--accent-dark),
      var(--accent),
      var(--accent-light)
    );
    --border-radius: 32px;
    --padding: max(3vh, 1rem) 1.5rem;
    --font-size-lg: clamp(0.875rem, 0.7386rem + 0.6818vw, 1.25rem);
    --font-size-xl: clamp(2rem, 1.0476rem + 4.7619vw, 4rem);
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--secondary-font);
    line-height: 1.5;
    background: #0d1117;
    background-image: url("src/assets/Pattern.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .opacity {
    opacity: 0.25;
  }
</style>
