---
import Layout from "../layouts/Layout.astro";
import ContactMe from "../components/ContactMe.astro";
---

<Layout title="Contact - Let's Chat">
  <div class="container">
    <ContactMe />
  </div>
</Layout>
