---
import "../styles/layout-all.scss";
import "../styles/layout-about.scss";
import "../styles/layout-projects.scss";
import "../styles/layout-media.scss";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import AboutMe from "../components/AboutMe.astro";
import IntroCard from "../components/IntroCard.astro";
import MediaCard from "../components/MediaCard.astro";
import ProjectOne from "../components/ProjectOne.astro";
import ProjectTwo from "../components/ProjectTwo.astro";
import ProjectThree from "../components/ProjectThree.astro";
import GithubCard from "../components/githubCard.astro";
import LinkedinCard from "../components/linkedinCard.astro";
// import Footer from "../components/Footer.astro";
---

<Layout title="Dontá Smith - Developer, Designer.">
  <Nav />
  <main>
    <section class="wrapper">
      <div class="layout-all">
        <div class="aboutMe">
          <AboutMe />
        </div>
        <div class="mediaCard">
          <MediaCard />
        </div>
        <div class="projectOne">
          <ProjectOne />
        </div>
        <div class="projectTwo">
          <ProjectTwo />
        </div>
        <div class="projectThree">
          <ProjectThree />
        </div>
        <div class="githubCard">
          <GithubCard />
        </div>
        <div class="linkedinCard">
          <LinkedinCard />
        </div>
        <div class="introCard">
          <IntroCard />
        </div>
      </div>
    </section>
  </main>
  <!-- <Footer /> -->
</Layout>

<style lang="scss">
  main {
    color: var(--text-white);
    margin-top: 2rem;
    .wrapper {
      div {
        display: grid;
        height: 100%;
      }
      width: $breakpointXl;
      max-width: calc(100% - 2rem);
      margin-inline: auto;
      align-items: center;
      height: 100svh;
    }
  }
</style>
