---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import AboutMe from "../components/AboutMe.astro";
import ContactCard from "../components/ContactCard.astro";
import IntroCard from "../components/IntroCard.astro";
import MediaCard from "../components/MediaCard.astro";
import ProjectOne from "../components/ProjectOne.astro";
import ProjectTwo from "../components/ProjectTwo.astro";
import ProjectThree from "../components/ProjectThree.astro";
---

<Layout title="Donta Smith - Developer, Designer.">
  <Nav />
  <main>
    <div class="wrapper">
      <div class="aboutMe">
        <AboutMe />
      </div>
      <div class="introCard">
        <IntroCard />
      </div>
      <div class="projectOne">
        <ProjectOne />
      </div>
      <div class="mediaCard">
        <MediaCard />
      </div>
      <div class="projectTwo">
        <ProjectTwo />
      </div>
      <div class="projectThree">
        <ProjectThree />
      </div>
      <div class="contactCard">
        <ContactCard />
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    position: relative;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    top: 16px;
    .wrapper {
      display: grid;
      width: var(--breakpoint-xl);
      max-width: calc(100% - 2rem);
      margin-inline: auto;
      align-items: center;
      // max-height: 80vh;
      height: 80svh;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      // grid-template-rows: minmax(100px, auto);
      gap: 1.25rem;
      .aboutMe {
        grid-column: span 2;
        grid-row: span 2;
      }
      .introCard {
      }
      .projectOne {
        grid-column: 4;
        grid-row: span 2;
      }
      .mediaCard {
      }
      .projectTwo {
        grid-row: 2;
        grid-row: span 2;
      }
      .projectThree {
      }
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
  }
</style>
