---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import AboutMe from "../components/AboutMe.astro";
import ContactCard from "../components/ContactCard.astro";
import IntroCard from "../components/IntroCard.astro";
import MediaCard from "../components/MediaCard.astro";
import ProjectOne from "../components/ProjectOne.astro";
import ProjectTwo from "../components/ProjectTwo.astro";
import ProjectThree from "../components/ProjectThree.astro";
---

<Layout title="Donta Smith - Developer, Designer.">
  <Nav />
  <main>
    <div class="wrapper">
      <div class="aboutMe grid-col-span-2">
        <AboutMe />
      </div>
      <div class="introCard">
        <IntroCard />
      </div>
      <div class="projectOne">
        <ProjectOne />
      </div>
      <div class="mediaCard">
        <MediaCard />
      </div>
      <div class="projectTwo">
        <ProjectTwo />
      </div>
      <div class="projectThree">
        <ProjectThree />
      </div>
      <div class="contactCard">
        <ContactCard />
      </div>
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    margin-inline: auto;
    padding: 1rem;
    width: var(--breakpoint-xl);
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
    .wrapper {
      display: grid;
      max-width: calc(100% - 2rem);
      grid-template-columns: repeat(5, 1fr);
      // grid-template-rows: minmax(100px, auto);
      gap: 1.25rem;
      .aboutMe {
        border: 3px solid white;
        border-radius: var(--border-radius);
        padding: calc(1.5rem - 1px);
      }
      .introCard {
        border: 3px solid white;
        border-radius: var(--border-radius);
        padding: calc(1.5rem - 1px);
      }
      .contactCard {
        border: 3px solid white;
        border-radius: var(--border-radius);
        padding: calc(1.5rem - 1px);
      }
      .mediaCard {
        border: 3px solid white;
        border-radius: var(--border-radius);
        padding: calc(1.5rem - 1px);
      }
      .projectOne {
        border: 3px solid white;
        border-radius: var(--border-radius);
        padding: calc(1.5rem - 1px);
      }
      .projectTwo {
        border: 3px solid white;
        border-radius: var(--border-radius);
        padding: calc(1.5rem - 1px);
      }
      .projectThree {
        border: 3px solid white;
        border-radius: var(--border-radius);
        padding: calc(1.5rem - 1px);
      }
    }
    h1 {
      font-size: 4rem;
      font-weight: 700;
      line-height: 1;
      text-align: center;
      margin-bottom: 1em;
    }
  }
</style>
