---
import "../styles/layout-all.css";
import "../styles/layout-about.css";
import "../styles/layout-projects.css";
import "../styles/layout-media.css";
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import AboutMe from "../components/AboutMe.astro";
import IntroCard from "../components/IntroCard.astro";
import MediaCard from "../components/MediaCard.astro";
import ProjectOne from "../components/ProjectOne.astro";
import ProjectTwo from "../components/ProjectTwo.astro";
import ProjectThree from "../components/ProjectThree.astro";
import GithubCard from "../components/githubCard.astro";
import LinkedinCard from "../components/linkedinCard.astro";
---

<Layout title="Dontá Smith - Developer, Designer.">
  <Nav />
  <main transition:animate="slide">
    <section class="wrapper">
      <div class="layout-all">
        <div class="aboutMe">
          <AboutMe />
        </div>
        <div class="mediaCard">
          <MediaCard />
        </div>
        <div class="projectOne">
          <ProjectOne />
        </div>
        <div class="projectTwo">
          <ProjectTwo />
        </div>
        <div class="projectThree">
          <ProjectThree />
        </div>
        <div class="githubCard">
          <GithubCard />
        </div>
        <div class="linkedinCard">
          <LinkedinCard />
        </div>
        <div class="introCard">
          <IntroCard />
        </div>
      </div>
    </section>
  </main>
</Layout>

<style>
  main {
    margin-top: 2rem;
    .wrapper {
      width: 1200px;
      max-width: calc(100% - 2rem);
      margin-inline: auto;
      align-items: center;
      height: 100svh;
    }
  }
</style>
