---
import Card from "./Card.astro"
---

<Card>
    <div class="aboutMe">about me - Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus eos eaque minus rerum veniam, dolores exercitationem modi recusandae error molestiae aperiam, at laborum, sapiente possimus vitae sequi totam facere voluptatum?</div>
</Card>

