---
import Card from "./Card.astro";
import { Image } from "astro:assets";
import myPhoto from "../assets/professional-image.jpg";
---

<Card>
  <div class="aboutMe">
    <div class="aboutMe-top">
      <Image
        class="img"
        src={myPhoto}
        alt="my professional photo"
        quality={"max"}
      />
      <div class="text">
        <p class="name">
          <a href="#">
            <span class="absolute inset-0"></span>
            Dontá Smith
          </a>
        </p>
        <p class="title">Web Developer</p>
      </div>
    </div>
    <p class="aboutMe-middle">Hey, welcome to my website!</p>
    <p class="aboutMe-bottom">
      I'm a digital designer, developer, and music enthusiast based in Washington,
      D.C. I love to make ideas come to life through various tools,
      technologies and frameworks.
      <br />
      <br />
      I am interested in Product Design, JamStack, DevOps, Sports and Music. Beyond
      the screens, I find solace and joy playing football, basketball and creating
      memorable experiences with friends and family.
    </p>
  </div>
</Card>

<style lang="scss">
  .aboutMe {
    padding: var(--padding);
    &-top {
      position: relative;
      display: flex;
      column-gap: 1rem;
      align-items: center;
      .img {
        max-width: 90px;
        height: auto;
        clip-path: circle();
        :hover {
          width: 150px;
          height: auto;
          transition: transform 0.3s;
          transform: scale(1.2);
        }
      }
      .text {
        line-height: 1.5rem;
        .name {
          font-family: var(--primary-font);
          a {
            color: inherit;
            text-decoration: inherit;
          }
        }
      }
    }
    &-middle {
      margin-top: 1.5rem;
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: -0.025em;
      font-weight: 400;
    }
    &-bottom {
      font-size: var(--font-size-lg);
      margin-top: 1rem;
    }
  }
</style>
