<div class="aboutMe">about me</div>

<style>
  div {
    border: 3px solid white;
    border-radius: var(--border-radius);
    grid-column: 1/5;
    grid-row: 1/10;
    padding: calc(1.5rem - 1px);
  }
</style>
