---
import Card from "./Card.astro";
import { Image } from "astro:assets";
import myPhoto from "../assets/professional-image.jpg";
---

<Card>
  <div class="aboutMe">
    <div class="aboutMe-top">
      <Image
        class="img"
        src={myPhoto}
        alt="my professional photo"
        quality={"max"}
      />
      <div class="text">
        <p class="name">
          <a href="#">
            <span class="absolute inset-0"></span>
            Dontá Smith
          </a>
        </p>
        <p class="title">Web Developer</p>
      </div>
    </div>
    <p class="aboutMe-middle">Hey there — welcome to my corner of the web!</p>
    <p class="aboutMe-bottom">
      I’m a digital developer, designer, and music enthusiast based in
      Washington, D.C., passionate about bringing ideas to life through
      thoughtful design and modern technologies. Whether I’m crafting user
      experiences or building out full-stack solutions, I thrive at the
      intersection of creativity and code.
      <br />
      <br />
      I’m especially drawn to Product Design, the Jamstack ecosystem, and all things
      DevOps. When I’m not immersed in pixels and projects, you’ll likely find me
      on the court playing football or basketball, or making lasting memories with
      friends and family — always chasing that perfect balance between work and play.
    </p>
  </div>
</Card>

<style>
  .aboutMe {
    padding: var(--padding);
    .aboutMe-top {
      position: relative;
      display: flex;
      column-gap: 1rem;
      align-items: center;
      .img {
        max-width: 90px;
        height: auto;
        clip-path: circle();
        /* :hover {
          width: 150px;
          height: auto;
          transition: transform 0.3s;
          transform: scale(1.2);
        } */
      }
      .text {
        line-height: 1.5rem;
        .name {
          font-family: var(--primary-font);
          a {
            color: inherit;
            text-decoration: inherit;
          }
        }
      }
    }
    .aboutMe-middle {
      margin-top: 1.5rem;
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: -0.025em;
      font-weight: 400;
    }
    .aboutMe-bottom {
      font-size: var(--font-size-lg);
      margin-top: 1rem;
    }
  }
</style>
