<div class="card">
  <slot />
</div>
<style lang="scss">
  .card {
    display: flex;
    height: 100%;
    border: 1px solid var(--border-color);
    box-shadow:
      0 12px 24px rgba(0, 0, 0, 0.08),
      0 6px 12px rgba(0, 0, 0, 0.05);

    background: var(--card-bg);
    border-radius: var(--border-radius);
    &:hover {
      transition:
        transform 0.3s,
        box-shadow 500ms ease;
      box-shadow: rgba(100, 100, 111, 0.1) 0px 5px 24px 0px;
      transform: scale(1.02);
    }
  }
</style>
