---
// interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<div class="card">
  <slot />
</div>
<style lang="scss">
  .card {
    display: flex;
    height: 100%;
    border: 1px solid rgb(48, 54, 61);
    box-shadow: rgb(48, 54, 61) 0px 0px 0px 1px inset;
    background: #13151a;
    border-radius: var(--border-radius);
    &:hover {
      transition:
      transform 0.3s,
      box-shadow 500ms ease;
      box-shadow: rgba(100, 100, 111, 0.1) 0px 5px 24px 0px;
      transform: scale(1.02);
    }
  }
</style>
