---
import Card from "./Card.astro"
---

<Card>
    <div>contact - Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore fuga ipsa sequi hic non, incidunt facere quae? Maiores, nihil explicabo soluta voluptates ea laboriosam sed, aut rerum perferendis, accusantium itaque.</div>
</Card>

