---
import Card from "./Card.astro";
---

<Card>
  <div class="contactCard">
    <a href="mailto:donta.jamel.smith@gmail.com" class="link">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="svg"
        viewBox="0 0 24 24"
        stroke-width="0.8"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
        ></path><path d="M3 7l9 6l9 -6"></path></svg
      >
    </a>
    <p class="title">Let's Chat! 🤩</p>
  </div>
</Card>
<style lang="scss">
  .contactCard {
    position: relative;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: var(--padding);
    margin-inline: auto;
    .svg {
      display: block;
      vertical-align: middle;
      height: 6rem;
      width: 6rem;
      color: var(--accent);
    }
    :hover {
      background-color: var(--accent);
      background-color: #fff;
      border-radius: 0.5rem;
      transition: all 0.2s ease-out 0s;
    }

    .title {
      margin-top: 1.5rem;
      font-size: var(--font-size-xl);
      line-height: 2rem;
      font-family: var(--primary-font);
      text-align: center;
    }
  }
</style>
