<div class="contactCard">contact</div>
<style>
  div {
    border: 3px solid white;
    border-radius: var(--border-radius);
    grid-column: 1/5;
    grid-row: 10/30;
    padding: calc(1.5rem - 1px);
  }
</style>
