<footer>
  <div class="footer">
    <p>Developd by <strong>Dontá Smith</strong></p>
  </div>
</footer>
<style lang="scss">
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    p {
      text-align: center;
      color: red;
    }
  }
</style>
