<footer>
  <p class="footer">Developd by <strong>Dontá Smith</strong></p>
</footer>
<style lang="scss">
  footer {
        color: #fff;
        font-family: var(--secondary-font);
        text-align: center;
    }
</style>
