---
import Card from "./Card.astro";
---

<Card>
  <div>media - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium omnis est dignissimos architecto illum, corporis tempora eligendi vel voluptas libero.</div>
</Card>
