---
import Logo from "../assets/portfolio-logo/1.svg";
import ThemeIcon from "./ThemeIcon.astro";
import { Image } from "astro:assets";
---

<script>
  function moveNavSelector() {
    const navItemSelect = document.querySelector(
      ".nav-items-select"
    ) as HTMLElement;
    const navItems = document.querySelectorAll(".nav-items");
    const layoutGrid = document.querySelector(".layout-all");

    const positions = {
      all: { left: 8, width: 54 },
      about: { left: 61, width: 72 },
      projects: { left: 141, width: 82 },
      media: { left: 235, width: 68 },
    };

    const layouts = {
      all: "layout-all",
      about: "layout-about",
      projects: "layout-projects",
      media: "layout-media",
    };

    navItems.forEach((navItem) => {
      navItem.addEventListener("click", function () {
        const clickedItem = this.classList[1] as keyof typeof positions;
        const { left, width } = positions[clickedItem] || {};

        if (left !== undefined && width !== undefined) {
          navItemSelect.style.left = `${left}px`;
          navItemSelect.style.width = `${width}px`;
          navItemSelect.style.transition = "left 0.3s, width 0.3s";
        }

        // Update the card layout by switching classes
        Object.values(layouts).forEach((layout) => {
          layoutGrid.classList.remove(layout); // Remove all layout classes
        });

        if (layouts[clickedItem]) {
          layoutGrid.classList.add(layouts[clickedItem]); // Apply the selected layout class
        }
      });
    });
  }

  moveNavSelector();
</script>

<nav>
  <div class="nav-logo">
    <Image
      id="logo"
      src={Logo}
      alt="Logo"
      width={90}
      height={90}
      quality={"max"}
    />
  </div>
  <div class="nav-item">
    <div class="nav-items-select"></div>
    <div class="nav-items all" data-category="all">All</div>
    <div class="nav-items about" data-category="about">About</div>
    <div class="nav-items projects" data-category="projects">Projects</div>
    <div class="nav-items media" data-category="media">Media</div>
    <div class="themeIconCard">
      <ThemeIcon />
    </div>
  </div>
  <div class="nav-contact">
    <!-- <a href="/contact" class="link">
      <p class="text">Contact</p>
    </a> -->
    <a
    class="link"
      href="mailto:donta.jamel.smith@gmail.com?subject=Contact%20Request"
      >Contact</a
    >
  </div>
</nav>
<style>
  nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    place-items: center;
    height: 212px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      height: 136px;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 0px 3.5vw;
    }
    .nav-logo {
      display: block;
      max-width: 100%;
    }
    .nav-item {
      background: transparent;
      align-items: center;
      border: 1px solid var(--border-color);
      border-radius: 23px;
      transform: translateX(0px);
      display: flex;
      font-size: 1rem;
      padding: 10px;
      .nav-items-select {
        left: 8px;
        width: 54px;
        position: absolute;
        height: 32px;
        border-radius: 16px;
        background: var(--button-bg);
        z-index: -1;
      }
      .nav-items {
        border-radius: 50px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 32px;
        padding: 0px 16px;
        transition: opacity 0.3s ease 0s;
        color: var(--text-color);
        cursor: pointer;
      }
      .nav-items:hover {
        cursor: pointer;
        opacity: 0.5;
        transition: opacity 0.25s ease 0s;
      }
    }
    .nav-contact {
      margin-top: 1.5rem;
      .link {
        color: var(--text-color);
        text-decoration: none;
        cursor: pointer;
        .text {
          line-height: normal;
        }
      }
      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }
    .nav-contact:hover {
      cursor: pointer;
      opacity: 0.5;
      transition: opacity 0.25s ease 0s;
    }
  }
</style>
