---
import myImage from "../assets/ds-logo-white.png";
import githubImg from "../assets/github-mark-c791e9551fe4/github-mark/github-mark-white.png";
import linkedinImg from "../assets/linkedin-logos/LinkedIn-Logos/In/Digital/White/1x/In-White-128.png";
import instagramImg from "../assets/IG_brand_asset_pack_2023/01 Static Glyph/02 White Glyph/Instagram_Glyph_White.png";
import { Image } from "astro:assets";

// interface Props {
//   title: string;
//   body: string;
//   href: string;
// }

// const { href, title, body } = Astro.props;
---

<nav>
  <div class="nav-logo">
    <Image
      class="nav-img"
      src={myImage}
      alt="professional image"
      width={75}
      height={75}
      quality={"max"}
    />
  </div>
  <div class="nav-items">
    <div class="nav-items-select"></div>
    <div class="nav-items-1">All</div>
    <div class="nav-items-2">About</div>
    <div class="nav-items-3">Projects</div>
    <div class="nav-items-4">Contact</div>
    <!-- <div class="nav-items-4">Resume</div> -->
  </div>
  <div class="nav-links">
    <Image src={githubImg} alt="" width={24} height={24} quality={"high"} />
    <Image src={linkedinImg} alt="" width={24} height={24} quality={"high"} />
    <!-- <Image src={instagramImg} alt="" width={24} height={24} quality={"high"} /> -->
  </div>
</nav>
<style lang="scss">
  nav {
    display: grid;
    justify-content: center;
    place-items: center;
    gap: 2em;
    height: auto;
    @media screen and (min-width: 768px) {
      max-width: 100%;
      height: 136px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 0px 3.5vw;
    }
    .nav-logo {
      display: block;
      box-sizing: border-box;
      max-width: 100%;
    }
    .nav-items {
      background: transparent;
      border: 2px solid rgb(48, 54, 61);
      border-radius: 23px;
      transform: translateX(0px);
      display: flex;
      font-size: 1rem;
      padding: 5px;
      .nav-items-select {
        left: 0px;
        width: 0px;
      }
      .nav-items-1,
      .nav-items-2,
      .nav-items-3,
      .nav-items-4 {
        border-radius: 50px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 32px;
        padding: 0px 16px;
        transition: opacity 0.3s ease 0s;
        color: rgb(240, 242, 248);
      }
    }
    .nav-links {
      display: flex;
      gap: 1.25em;
    }
  }
</style>
