---
import myImage from "../assets/svg-logo.svg";
import { Image } from "astro:assets";
---

<script>
  function moveNavSelector() {
    const navItemSelect = document.querySelector(".nav-items-select");
    const navItems = document.querySelectorAll(".nav-items");

    navItems.forEach((navItem) => {
      navItem.addEventListener("click", function () {
        const clickedItem = this.classList[1]; // Get the second class of the clicked div
        switch (clickedItem) {
          case "about":
            navItemSelect.style.left = "59px";
            navItemSelect.style.width = "72px";
            break;
          case "projects":
            navItemSelect.style.left = "138px";
            navItemSelect.style.width = "82px";
            break;
          case "contact":
            navItemSelect.style.left = "223px";
            navItemSelect.style.width = "83px";
            break;
          case "all":
            navItemSelect.style.left = "5px";
            navItemSelect.style.width = "54px";
            break;
          default:
            break;
        }
        navItemSelect.style.transition = "left 0.3s, width 0.3s"; // Add transition CSS
      });
    });
  }

  moveNavSelector();
</script>

<nav>
  <div class="nav-logo">
    <Image
      class="nav-img"
      src={myImage}
      alt="professional image"
      width={120}
      height={120}
      quality={"max"}
    />
  </div>
  <div class="nav-item">
    <div class="nav-items-select"></div>
    <div class="nav-items all">All</div>
    <div class="nav-items about">About</div>
    <div class="nav-items projects">Projects</div>
    <div class="nav-items contact">Media</div>
  </div>
  <div class="nav-contact">
    <a href="mailto:donta.jamel.smith@gmail.com" class="link">
      <p class="text">Contact</p>
    </a>

    <!-- <a href="https://github.com/donta514">
      <Image src={githubImg} alt="" width={24} height={24} quality={"high"} />
    </a>
    <a href="http://linkedin.com/in/dontasmith">
      <Image src={linkedinImg} alt="" width={24} height={24} quality={"high"} />
    </a>
    <Image src={instagramImg} alt="" width={24} height={24} quality={"high"} /> -->
  </div>
</nav>
<style lang="scss">
  nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    place-items: center;
    height: 212px;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      max-width: 100%;
      height: 136px;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 0px 3.5vw;
    }
    .nav-logo {
      display: block;
      max-width: 100%;
    }
    .nav-item {
      background: transparent;
      border: 2px solid rgb(48, 54, 61);
      border-radius: 23px;
      transform: translateX(0px);
      display: flex;
      font-size: 1rem;
      padding: 5px;
      .nav-items-select {
        left: 5px;
        width: 54px;
        position: absolute;
        height: 32px;
        border-radius: 16px;
        // background: rgb(33, 38, 45);
        background: var(--accent);
        z-index: -1;
      }
      .nav-items {
        border-radius: 50px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        height: 32px;
        padding: 0px 16px;
        transition: opacity 0.3s ease 0s;
        color: rgb(240, 242, 248);
        cursor: pointer;
        &:hover {
          cursor: pointer;
          // opacity: 0.5;
          // transition: opacity 0.25s ease 0s;
        }
      }
    }
    .nav-contact {
      margin-top: 1.5rem;
      .link {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        .text {
          line-height: normal;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.5;
          transition: opacity 0.25s ease 0s;
        }
      }
      @media screen and (min-width: 768px) {
        margin-top: 0;
      }
    }
  }
</style>
