---
import Card from "./Card.astro";
---

<Card>
  <div class="projectOne">project one - Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam quis quae nihil mollitia et obcaecati sint illo exercitationem expedita necessitatibus aliquam maxime amet illum, eos dolorum, sit fugiat aperiam magnam.</div>
</Card>

<style lang="scss">
    
</style>
