---
import Card from "./Card.astro";
---

<Card>
  <div>project three - Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa enim ab consequuntur rem, alias neque tempora aliquam facere repellat dolor aspernatur esse dignissimos laboriosam modi commodi laudantium ea ratione excepturi?</div>
</Card>
