---
import Card from "./Card.astro";
import { Image } from "astro:assets";
import projectOne from "../assets/project-images/Github-User-Search.png";
---

<Card>
  <div class="projectOne">
    <a
      href="https://github-user-search-phi-eosin.vercel.app/"
      target="_blank"
      class="projectOne-link"
    >
      <div class="top">
        <Image class="img" src={projectOne} alt="github user search project image" />
      </div>
      <div class="bottom">
        <p class="title">GitHub User Search App</p>
        <p class="text">
          A responsive web app that lets users search GitHub profiles by
          username. It fetches and displays key user data like name, avatar,
          bio, and repo stats using the GitHub Users API.
        </p>
      </div>
    </a>
  </div>
</Card>

<style>
  .projectOne {
    padding: var(--padding);
    overflow: hidden;
    .projectOne-link {
      color: var(--text-color);
      text-decoration: inherit;
      .top {
        display: block;
        margin-right: -2rem;
        .img {
          overflow-clip-margin: content-box;
          display: block;
          vertical-align: middle;
          height: 18rem;
          max-width: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }
      }
      .bottom {
        margin-top: 2rem;
        .title {
          margin-top: 1.5rem;
          font-weight: 700;
          font-size: var(--font-size-lg);
        }
        .text {
          margin-top: 1rem;
          font-size: var(--font-size-lg);
          font-weight: 300;
        }
      }
    }
  }
</style>
