---
import Card from "./Card.astro";
---

<Card>
  <div>project two - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat modi autem expedita nisi facilis eaque fugit at rem totam id, nostrum, excepturi eveniet culpa consectetur illo et, delectus accusamus perspiciatis?</div>
</Card>
