---
import Card from "./Card.astro";
import { Image } from "astro:assets";
import projectThree from "../assets/project-images/Mushroom-Guide.png";
---

<Card>
  <div class="ProjectThree">
    <a href="https://mushroomguide.vercel.app/" class="ProjectThree-link">
      <div class="top">
        <Image class="img" src={projectThree} alt="my professional photo" />
      </div>
      <div class="bottom">
        <p class="title">Mushroom Guide</p>
        <p class="text">
          A polished frontend app built to explore modern CSS features,
          including custom properties, nesting, CSS Grid, and utility classes.
          It showcases advanced bento-style layouts, view transitions,
          animations, and interactive filtering for an engaging, responsive UI.
        </p>
      </div>
    </a>
  </div>
</Card>

<style>
  .ProjectThree {
    padding: var(--padding);
    overflow: hidden;
    .ProjectThree-link {
      color: var(--text-color);
      text-decoration: inherit;
      .top {
        display: block;
        margin-right: clamp(-17rem, -34.1429rem + 85.7143vw, -2rem);
        .img {
          overflow-clip-margin: content-box;
          display: block;
          vertical-align: middle;
          height: 18rem;
          max-width: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }
      }
      .bottom {
        margin-top: 2rem;
        .title {
          margin-top: 1.5rem;
          font-weight: 700;
          font-size: var(--font-size-lg);
        }
        .text {
          margin-top: 1rem;
          font-size: var(--font-size-lg);
          font-weight: 300;
        }
      }
    }
  }
</style>
